* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.footer {
    margin-top: auto;
}

.container-1, .footer {
    background-color: #1F2937;
}

.container-1 {
    color: white;
}

.logo {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    display: flex;
    gap: 8px; 
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.sign-up {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.content {}